In [12]:
import numpy as np

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
data = np.random.randint(0,100,(10,2))

In [15]:
scaler_model = MinMaxScaler()

In [16]:
type(scaler_model)

sklearn.preprocessing._data.MinMaxScaler

In [17]:
scaler_model.fit(data)

MinMaxScaler()

In [18]:
scaler_model.transform(data)

array([[0.22222222, 0.97183099],
       [0.87777778, 0.67605634],
       [0.        , 0.        ],
       [0.62222222, 0.90140845],
       [0.36666667, 1.        ],
       [0.88888889, 0.6056338 ],
       [0.61111111, 0.47887324],
       [0.        , 0.92957746],
       [1.        , 0.81690141],
       [0.83333333, 0.78873239]])

In [19]:
scaler_model.fit_transform(data)

array([[0.22222222, 0.97183099],
       [0.87777778, 0.67605634],
       [0.        , 0.        ],
       [0.62222222, 0.90140845],
       [0.36666667, 1.        ],
       [0.88888889, 0.6056338 ],
       [0.61111111, 0.47887324],
       [0.        , 0.92957746],
       [1.        , 0.81690141],
       [0.83333333, 0.78873239]])

In [21]:
import pandas as pd

In [26]:
df = pd.DataFrame(data=np.random.randint(0,101,(50,4)), columns= ['f1','f2','f3','label'])

In [27]:
df

     f1  f2  f3  label
0    92  86  11     58
1    96  18  91     95
2     3   1  84     38
3    38  33   6     17
4    82  40  63     18
5    46  82  73     84
6    39  87  97     69
7    73  41  98     91
8     0   9  47     42
9    16  36  17     36
10   93   8  42     46
11   49   0  98     44
12   59  74  18     51
13   75  33  64      2
14   36  61   7     96
15   78  71  17     41
16   17  78  45     39
17   80  67   4     43
18   43  91   3     79
19   41  11  97     45
20    2  64  22     52
21   83   6  79     71
22   54   0  55     70
23   19  49  89     73
24   51  47  39     63
25   56  69  88     17
26   80  27  82     66
27   27  53  42     54
28   29  74  70     17
29   55  78   9      0
30   76  56  53     30
31   59  49  55     43
32   70  10  29     80
33   84  11  51      6
34   49  32  69     45
35   83  14  53     78
36   29   9  12     40
37   84  51  98     98
38   63  23  84     87
39   85  79  79     67
40   54  63  76     67
41   75  24  77     27
42   14  46  49     70
43   10  39  48     16
44   99  28  20     16
45   57  79  90     91
46   40  52  47     86
47  100  49  34     37
48   76  57  92     19
49   97  10  45     71

In [29]:
X = df[['f1','f2','f3']]

In [31]:
y = df[['label']]

In [33]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [38]:
X_train.shape # training data size is 70 % of total data

(35, 3)

In [39]:
X_test.shape # test data size is 30 % of total data

(15, 3)