In [1]:
import pandas as pd

In [9]:
# df = dataframe

df = pd.read_csv('salaries.csv')

In [11]:
df[['Salary','Name']]

   Salary    Name
0   50000    John
1  120000   Sally
2   80000  Alyssa

In [12]:
df.describe()

              Salary        Age
count       3.000000   3.000000
mean    83333.333333  35.333333
std     35118.845843   9.073772
min     50000.000000  27.000000
25%     65000.000000  30.500000
50%     80000.000000  34.000000
75%    100000.000000  39.500000
max    120000.000000  45.000000

In [16]:
df['Salary'] > 60000

0    False
1     True
2     True
Name: Salary, dtype: bool

In [17]:
my_filter = df['Salary'] > 60000

In [18]:
# returns that data frame instead of the boolean values like df['Salary']

df[my_filter]

     Name  Salary  Age
1   Sally  120000   45
2  Alyssa   80000   27